*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;    
}

header, footer{
    width: 100%;
    height: 10%;
}

header, footer{
    text-align: center;
}

nav, #gallerys, #buttons, footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 5%;          
}

nav > div{
    width: 30%;
    height: 100%;
    text-align: center;
}

#gallerys{
    width: 90%;
    height: 68%;
    margin: 0 auto;          
}        
 
.small{
    width: 250px;
    height: 150px;
}

.small > img{
    width: 250px;
    height: 150px;
}

.normal{
    width: 500px;
    height: 300px; 
}

.normal > img{
    width: 500px;
    height: 300px;
}

button{
    width: 150px;
    height: 50px;
}